<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body class="container">

    <header>
        <% include partials/header %>
    </header>

     <div class="content">
            <h3>Swing types:</h3>
			<button id="b-left" type="button" class="btn btn-info btn-lg">LEFT</button>
			<button  id="b-right" type="button" class="btn btn-info btn-lg">RIGHT</button>

    </div>

    <footer>
        <% include partials/footer %>
    </footer>
    
    <script src="/js/socket.io.js"></script>
    <script src="/js/jquery-2.2.0.js"></script>

    <script>
        var socket = io();
        socket.on('connect',function(){
            console.log('connected to server');
        });
        
        function emitDirection(d) {
            socket.emit('direction',{direction: d});
        }
        
        $('#b-left').click(function() {
            emitDirection('left');
        });
        
        $('#b-right').click(function() {
            emitDirection('right');
        });


    </script>
</body>
</html>